p{
    color:red;
}

.subtext{
    text-align: center;
}

.subtext p{
    color:green;
}


#transition-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  button {
    border-radius: 8px;
    border: none;
    background-color: #2563eb;
    color: white;
    font-size: 18px;
    padding: 16px 24px;
    text-align: center;
  }
  
  /* My Solution */
  
  /* button:hover{
    transition-duration: 300ms;
    scale: 1.2;
  }
  
  button:not(hover){
    transition-duration: 300ms;
    scale:1;
  } */
  
  
  /* SOLUTION */
  
  /* button {
    transition: transform .3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.2)
  } */