body{
  display:flex;
  flex-direction: column;
  background-color: white;
  margin:0px;
  font-family: Roboto, sans-serif;
  /* gap:40px; */
}


/* BEGINNING OF FIRST SECTION DIV CSS CODE */
.first_section{
  display: flex;
  flex-direction: column;
  background-color:#1F2937;
  justify-content: center;
  padding-bottom:100px;
}

.header_section{
  border-radius: 6px;
  border-color: white;
  border-style: solid;
  margin:auto;
  height:auto;
  padding-bottom:32px;
}

.header{
  display:flex;
  justify-content: space-between;
  gap: 20px;
}

.Head{
  font-size: 24px;
  color:#F9FAF8;
  border-radius: 6px;
  border-color: pink;
  border-style: solid;
}

ul{
  display:flex;
  list-style-type: none;
  gap:20px;
  align-items:center;
  border-radius: 6px;
  border-color: orange;
  border-style: solid;
}

li{
  font-size:18px;
  color:#E5E7EB;
}



.Info{
  display:flex;
  /* margin: auto; */
  gap:100px;
  border-radius: 6px;
  border-color: red;
  border-style: solid;
  /* margin:auto; */
  /* padding:8px; */
  align-content: center;
  justify-content: center;
}

.text{
  /* border-radius: 10px; */
  border-color: green;
  border-style: solid;
  width:450px;
  /* padding:8px; */
}

.Large{
  font-size:48px;
  color:#F9FAF8;
  font-weight: 900;
  margin:auto;
}

.smol{
  margin:auto;
  font-size:18px;
  color:#E5E7EB;
}

button{
  /* background-color:#3883F6; */
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin-top:18px;
}

.placeholder{
  display: flex;
  background-color: grey;
  border-radius: 0px;
  border-color: yellow;
  border-style: solid;
  width:700px;
  justify-content:center;
  align-items: center;
}

/* END OF FIRST SECTION DIV CSS CODE */


/* END OF FIRST SECTION DIV CSS CODE */



/* BEGINNING OF SECOND SECTION DIV CSS CODE */

.title {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin-bottom: 32px;
    text-align: center;
  }

img {
    width: 200px;
    height: 200px;
    border-radius:5px;
    border-style: solid;
    border-color:aqua
  }

.second_section {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
  .info {
    max-width: 200px;
  }

  /* END OF SECOND SECTION DIV CSS CODE */



  /* BEGINNING OF THIRD SECTION DIV CSS CODE */

  .third_section{
    text-align: center;
    background-color:#E5E7EB;
    padding:90px;
  }

  .quote{
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    text-wrap: wrap;
  }


  /* END OF THIRD SECTION DIV CSS CODE */



  /* BEGINNING OF FOURTH SECTION DIV CSS CODE */

  .fourth_section{
    text-align: center;
  }


  /* END OF FOURTH SECTION DIV CSS CODE */



  /* BEGINNING OF FIFTH/FOOTER SECTION DIV CSS CODE */
.footer {
    font-family: Roboto, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color:#E5E7EB;
    padding: 30px;
  }

  /* END OF FIFTH/FOOTER SECTION DIV CSS CODE */