body{
    display:flex;
    flex-direction: column;
    background-color: white;
    margin:0px;
    font-family: Roboto, sans-serif;
    /* gap:40px; */
}


/* BEGINNING OF FIRST SECTION DIV CSS CODE */
.first_section{
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
    justify-content: center;
}

.header_section{
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    margin:auto;
    height:auto;
    padding-bottom:32px;
}

.header{
    display:flex;
    justify-content: space-between;
    gap: 20px;
}

.Head{
    font-size: 24px;
    color:#F9FAF8;
    border-radius: 6px;
    border-color: pink;
    border-style: solid;
}

ul{
    display:flex;
    list-style-type: none;
    gap:20px;
    align-items:center;
    border-radius: 6px;
    border-color: orange;
    border-style: solid;
}

li{
    font-size:18px;
    color:#E5E7EB;
}



.Info{
    display:flex;
    gap:100px;
    border-radius: 6px;
    border-color: red;
    border-style: solid;
    /* margin:auto; */
    /* padding:8px; */
    align-content: center;
    justify-content: center;
}

.text{
    border-radius: 10px;
    border-color: green;
    border-style: solid;
    width:500px;
    padding:8px;
}

.Large{
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900;
}

.placeholder{
    display: flex;
    background-color: grey;
    border-radius: 6px;
    border-color: yellow;
    border-style: solid;
    width:700px;
    justify-content:center;
    align-items: center;
}

.smol{
    font-size:18px;
    color:#E5E7EB;
}


button{
    /* background-color:#3883F6; */
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

/* END OF FIRST SECTION DIV CSS CODE */