html, body {
    height: 100%;
    width:100%;
  }

body{
    display:flex;
    flex-direction: column;
    background-color: white;
    margin:0px;
    font-family: Roboto, sans-serif;
    gap:50px;
    overflow:scroll;
}


/* BEGINNING OF FIRST SECTION DIV CSS CODE */
.first_section{
    display: flex;
    /* flex-direction: column; */
    width:100%;
    background-color:#1F2937;
    justify-content: space-around;
    padding-bottom: 60px;
    margin:auto;
}


.header_section{
    margin:auto;
    height:auto;
    padding-bottom:32px;
    /* border: 6px white solid; Used for debugging. */
}

.header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.Head{
    font-size: 24px;
    color:#F9FAF8;
    /* border: 6px pink solid; Used for debugging. */
}

ul{
    /* border: 6px orange solid; Used for debugging. */
    display:flex;
    list-style-type: none;
    gap:20px;
    align-items:center;
    padding:0;
}

li{
    font-size:18px;
    color:#E5E7EB;
}

.Info{
    /* border: 6px red solid; Used for debugging. */
    display:flex;
    gap:100px;
    align-content: center;
    justify-content: center;
}

.text{
    /* border: 6px green solid; Used for debugging. */
    width:500px;
}

.Large{
    /* border: 6px chocolate solid; Used for debugging. */
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900;
    margin:auto;
    margin-left: 0px;
    text-align: left;
}

.smol{
    /* border: 6px aqua solid; Used for debugging. */
    font-size:18px;
    color:#E5E7EB;
    margin-top: auto;
    margin-bottom: 16px;
}


button{
    /* background-color:#3883F6; */
    cursor: pointer;
    padding: 8px 34px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin:auto;
}

.placeholder{
    display: flex;
    background-color: lightslategray;
    color:white;
    /* border: 6px yellow solid; Used for debugging. */
    width:600px;
    justify-content:center;
    align-items: center;
}

/* END OF FIRST SECTION DIV CSS CODE. */


/* BEGINNING OF SECOND SECTION DIV CSS CODE. */

.title {
    font-size: 48px;
    font-weight: 900;
    color:#1F2937;
    margin-top: 22px;
    margin-bottom: 32px;
    text-align: center;
  }

img {
    width: 200px;
    height: 200px;
    border-radius:10px;
    border-style: solid;
    border-color:rgb(71, 71, 245);
  }

.second_section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 32px;
  }
  
  .information {
    width: 200px;
    text-align: center;
  }

  .info{
    width:200px;
  }

  /* END OF SECOND SECTION DIV CSS CODE. */

  /* BEGINNING OF THIRD SECTION DIV CSS CODE. */

  .third_section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color:#E5E7EB;
    padding:120px;
  }

  .container{
    flex-direction: column;
    margin:auto;
  }

  .quote{
    /* border:5px solid blue; Used for Debugging. */
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    margin:0px;
  }

  .mention {
    /* border:5px solid red; Used for Debugging. */
    font-size: 36px;
    color:#1F2937;
    text-align: right;
    margin:0px;
  }


  /* END OF THIRD SECTION DIV CSS CODE */


   /* BEGINNING OF FOURTH SECTION DIV CSS CODE */

   .fourth_section{
    margin:auto;
    color: white;
    
  }
  .ad{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width:60rem; */
    width:63rem;
    padding:60px;
    border-radius: 7px;
    /* border:4px solid blue; Used for debugging purposes*/
    background-color:#3882F6;
    margin:auto;
  }

  .action {
    margin:auto;
    /* border: 5px solid red; Used for debugging purposes. */
    font-size: 24px;

  }

  .message{
    margin:auto;
    font-size: 18px;
  }

  .ad-message {
    /* border:5px solid green; Used for debugging purposes. */
    margin-left:40px;
  }

  .signup {
    border: 2px solid white;
    padding:40px;
    padding-top: 5px;
    padding-bottom: 7px;
    background: #3882F6;
    font-size: 18px;
    margin-right:70px;
  }



  /* END OF FOURTH SECTION DIV CSS CODE */

  /* BEGINNING OF FIFTH/FOOTER SECTION DIV CSS CODE */
.footer {
  font-family: Roboto, sans-serif;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1F2937;
  color:#E5E7EB;
  padding: 30px;
}

/* END OF FIFTH/FOOTER SECTION DIV CSS CODE */